--swiftversion 6.0
--indent 4
--tabwidth 4

--ifdef no-indent
--self remove
--header ignore
--ranges spaced
--commas inline
--linebreaks lf
--semicolons inline
--disable redundantParens

--maxwidth 120
--wraparguments before-first
--wrapparameters after-first
--wrapcollections before-first
--wrapeffects if-multiline

--exclude Pods,Packages,Frameworks
